/*all products*/
.row-2{
    justify-content: space-between;
    margin: 200px auto 50px;
}

select{
    border: 1px solid rgb(98, 164, 0);
    padding: 5px;
}

select:focus{
    outline:none;
}

.row-items:hover{
    cursor: pointer;
}

.row_not-active{
    display:none;
}

.page-btn{
    display: flex;
    justify-content: center;
    margin: 4rem 0;
    align-items: center;
    flex-wrap: wrap;
}

.page-btn span{
    display: inline-block;
    border: 1px solid rgb(18, 98, 216);
    margin-left: 10px;
    width:40px;
    height:40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}

.page-btn span:hover{
    background-color: rgb(18, 98, 216);
    color:white;
}


#page_number{
    display: inline-block;
    margin-left: 10px;
}


@media screen and (max-width:1050px) {
    .opendetails img{
        object-fit: contain;
    }
}

@media only screen and (max-width:850px) {
    .opendetails img{
        object-fit: contain;
    }
}

@media only screen and (max-width:600px){
    
    .opendetails img{
        object-fit: contain;
    }
    
    .single-product .row{
        text-align: left;
    }

    .single-product .col-2{
        padding:20px 0;
    }

    .single-product h1{
        font-size: 29px;
        line-height: 30px;
    }
    .cart-info p{
        display:none;
    }
}